@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

img {
    max-width: 100%;
}

/*main*/
main{
    display: flex;
    flex-wrap: wrap;
}
h2{
    font-size: 5rem;
    color: #244068;
}
.titulo-trabajo{
    margin: 1rem 0rem;
    margin-left: 5rem;
    margin-right: 8rem;
}

.contenedor-main-trabajo{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 20rem;
    flex-direction: row;
}
.contenedor-trabajo{
    display: flex;
    flex-direction: column;

}

.seccion1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.texto-img{
    height: 8rem;
    width: 8rem;
    margin-top:5rem;
    margin-left: 11rem;
}

h3{
    font-size: 2.5rem;
    color: #F75F1C;
    display: flex;
    text-align: center;
    justify-content: center;
}

p{
    font-size: 1.8rem;
    color: #053477;
    text-align: center;
}

.trabajo-texto{
    margin-right: 10rem;
    margin-left: 2rem;
}

/*inicio contacto*/
.contenedor-contacto{
    background: #2A4B7A;
    display: flex;
    width: 100%;
    height: 40rem;
}
.titulo-contacto{
    color: #F75F1C;
    font-size: 2.2rem;
    margin-left: 5rem;
}


.parte-lateral{
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 5rem;
}

li{
    list-style: none;
    color: white;
    margin: 1rem 0;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 1rem;
}

.informacion-personal{
    color: #F75F1C;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.inputs{
    width: 30rem;
    height: 1.5rem;
    border-radius: 2px;
    border: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
    
}

label{
    color: white;
}

.envio{
    background-color: #F75F1C;
    color: white;
    font-weight: bolder;
    width: 7rem;
    height: 3rem;
    border-radius: 2px;
    border: none;
    margin-top: 1rem;
}

select{
    width: 31.1rem;
    height: 1.5rem;
    border-radius: 2px;
    border: none;
    margin-bottom: 1rem;
}

